[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-ngrok = "*"
flask-RESTful = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
PyMySQL = "*"
mysql-connector = "*"
ffmpeg-python = "*"
pyjwt = "*"
[requires]
python_version = "3.7"
